<div class="home-container">
  <div class="todo-box">
    <div class="welcome-message">Welcome, {{username}}</div>
    <h1 class="todo-title">Todo Application ✅</h1>

    <div *ngFor="let todo of todos">
      <app-todo
        [todo]="todo"
        (completed)="onTodoCompleted($event)"
        (deleted)="onTodoDeleted($event)">
      </app-todo>
    </div>

    <div class="add-button-container">
      <a routerLink="/add-todo">
        <button class="add-button">Add Task</button>
      </a>
    </div>
  </div>
</div>